.header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 1px 1px #eeeeee;
}

.header__logo{
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.header__logo > img{
    flex: 1;
    width: 20vh;
}

.header__services{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
    justify-content: space-between;
}


.header__services > h3{
    border: none;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.header__services > h3:hover{
    border: 1px solid #eeeeee;
    border-radius: 20px;
    background-color: deepskyblue;
    border: none;
}

.header__options{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;
}

.header__options > h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}