.home{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.home__banner{
    display: flex;
    width: 100%;
}

.home__banner > img{
    display: block;
    position: relative;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    align-items: center;
}

.home__search{
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate( -50%, -50% );
    /* text-align: center; */
    height: 4vh;
    min-width: 200px;
    /* border: 1px solid; */
    border-radius: 10px;
    background:black;
    opacity: 0.8;
   
}

.home__searchInput > input{
    cursor: pointer;
   min-width: 400px;
   height: 4vh;
    border-radius: 10px;
    background: transparent;
    /* padding: ; */
    border: none;
    font-size: 20px;
    margin-right: 10px;
    color: white;
}
.home__searchInput>input:focus{
    outline: none;
    border: none;
}
.home__searchInput>input::placeholder{
    color: white;
    font-size: 18px;
   
}
.home__searchIcon{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.home__suggestion{
    margin-top: 30px;
    background-color: mediumturquoise;
}

.home__suggestionTitle{
    margin-left: auto;
    margin-right: auto;
}

.home__suggestionTitle > h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color :rgb(59, 65, 68);
    margin: 20px 0;
}

.home__suggestionCards{
    display: flex;
    margin: 20px auto;
    margin-bottom: 40px;
}

.home__testimonials ,.home__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__testimonialsTitle > h3 , .home__ContactTitle > h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color :rgb(59, 65, 68);
    margin: 20px 0;
}

.home__testimonialsPeople{
    display: flex;
}

.home__contact{
    background: #eeeeee;
    padding: 20px;
}